body{background-image: url(https://reisemedtog.no/images/tognorgeB.jpg)}
h1{
    margin: 0px 475px;
}
img{margin:0px  475px}

p{
    color: rgb(17, 255, 0);
    margin: 0px   475px;
}
a{margin:0px  490px
}
span{color:rgb(0, 255, 17)}
span{margin: 0px   475px}

h1{color:tomato}
